*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

.upper-header{
    width: 100%;
    height: 200px;
    background-image: url(header-backgrounf-image.png);
    background-size: cover;
}


/*--------------------------------------nav-bar----------------------------------------*/

.navbar{
    height: 80px;
    width: 100%;
    background-color: none;
    display: flex;
}


.nav-logo{
    height: 75px;
    width: 220px;
}
.logo{
    background-image: url("pularhub_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 75px;
    width: 220px;
}


.nav-div2{
    height: 75px;
    width: 250px;
    display:flex;
    background-color: none;
    align-items: center;
}
.nar-knowlege-Reprositroy{
    width: 250px;
    height: 18px;
}
.nar-knowlege-1{
    text-decoration: none;
    font-size: 15px;
    color: white;
    align-items: center;
    text-align: center;
    padding-left: 50px;
}


.nav-div3{
    height: 75px;
    width: 250px;
    display:flex;
    background-color: none;
    align-items: center;
}
.nar-station-medi{
    width: 250px;
    height: 18px;
}
.nar-station{
    text-decoration: none;
    font-size: 15px;
    color: white;
    align-items: center;
    text-align: center;
    padding-left: 50px;
}


.nav-div4{
    height: 75px;
    width: 250px;
    display:flex;
    background-color: none;
    align-items: center;
}
.nar-ouctreach-edu{
    width: 250px;
    height: 18px;
}
.nar-outreach{
    text-decoration: none;
    font-size: 15px;
    color: white;
    align-items: center;
    text-align: center;
    padding-left: 50px;
}


.nav-search{
    height: 75px;
    width: 250px;
    display:flex;
    background-color: none;
    align-items: center;
}
.search1{
    width: 250px;
    height: 25px;
}
.search{
    width: 230px;
    font-size: 15px;
    color: white;
    align-items: center;
    color: black;
    height: 25px;
    border-radius: 5px;
}

.nav-account-logo{
    height: 75px;
    width: 250px;
    display:flex;
    background-color: none;
    align-items: center;
}
.account-logo{
    width: 250px;
    font-size: 50px;
    color: white;
}


/*-----------------------------cover image div ------------------------------------*/

.cover-image-div{
    height: 200px;
    width: 1000px;
    border: solid 2px rgb(22, 126, 126);
    margin-left: 180px;
    margin-top: 30px;
    background-image: url(cover-image-polahub.png);
    background-size: cover;
    border-radius: 15px;
}

.cover-image-line1{
    font-size: 30px;
    color: rgb(7, 168, 168);
    font-weight:550;
    margin-left: 25px;
    margin-top: 40px;
}
.cover-image-line2{
    font-size: 20px;
    color: white;
    font-weight:400;
    margin-left: 25px;
    margin-top: 5px;
}
.cover-image-line3{
    font-size: 12px;
    color: rgba(255, 255, 255, 0.692);
    font-weight:100;
    margin-left: 25px;
    margin-top: 5px;
}

/*--------------------------------body main div 1 ----------------------------*/

.body-main-div-1{
    height: 200px;
    width: 1000px;
    margin-left: 180px;
    margin-top: 10px;
    display: flex;
}

.body-local-div-1{
    height: 200px;
    width: 240px;
    border: solid 2px rgb(22, 126, 126);
    background-image: url("main-div-image-1.png");
    background-size: cover;
    border-radius: 10px;
}
.local-div-1-line-1{
    color: white;
    font-size: 15px;
    font-weight:400;
    margin-top: 110px;
    margin-left: 20px;
}
.local-div-1-line-2{
    color: rgba(255, 255, 255, 0.644);
    font-size: 12px;
    font-weight:400;
    margin-top: 5px;
    margin-left: 23px;
}
.local-div-1-line-3{
    text-decoration: none;
    color: aqua;
    font-size: 20px;
    font-weight:400;
    margin-top: 20px;
    margin-left: 70px;
}

/*----------------------------------------------------*/
.body-local-div-2{
    height: 200px;
    width: 240px;
    border: solid 2px rgb(22, 126, 126);
    margin-left: 10px;
    background-image: url("main-div-newimg-2.png");
    background-size: cover;
    border-radius: 10px;
}
.local-div-2-line-1{
    color: white;
    font-size: 15px;
    font-weight:400;
    margin-top: 110px;
    margin-left: 50px;
}
.local-div-2-line-2{
    color: rgba(255, 255, 255, 0.644);
    font-size: 12px;
    font-weight:400;
    margin-top: 5px;
    margin-left: 30px;
}
.local-div-2-line-3{
    text-decoration: none;
    color: aqua;
    font-size: 20px;
    font-weight:400;
    margin-top: 20px;
    margin-left: 90px;
}

/*------------------------------------------------*/

.body-local-div-3{
    height: 200px;
    width: 240px;
    border: solid 2px rgb(22, 126, 126);
    margin-left: 10px;
    background-image: url("main-div-newimg-3.png");
    background-size: cover;
    border-radius: 10px;
}
.local-div-3-line-1{
    color: white;
    font-size: 15px;
    font-weight:400;
    margin-top: 110px;
    margin-left: 70px;
}
.local-div-3-line-2{
    color: rgba(255, 255, 255, 0.644);
    font-size: 12px;
    font-weight:400;
    margin-top: 5px;
    margin-left: 23px;
}
.local-div-3-line-3{
    text-decoration: none;
    color: aqua;
    font-size: 20px;
    font-weight:400;
    margin-top: 20px;
    margin-left: 70px;
}

/*----------------------------------------*/

.body-local-div-4{
    height: 200px;
    width: 240px;
    border: solid 2px rgb(22, 126, 126);
    margin-left: 10px;
    background-image: url("main-div-body-image-4.png");
    background-size: cover;
    border-radius: 10px;
}
.local-div-4-line-1{
    color: white;
    font-size: 15px;
    font-weight:400;
    margin-top: 110px;
    margin-left: 30px;
}
.local-div-4-line-2{
    color: rgba(255, 255, 255, 0.644);
    font-size: 12px;
    font-weight:400;
    margin-top: 5px;
    margin-left: 40px;
}
.local-div-4-line-3{
    text-decoration: none;
    color: aqua;
    font-size: 20px;
    font-weight:400;
    margin-top: 20px;
    margin-left: 100px;
}


/* -------------------------- body div 2 ----------------------*/

.body-div-2{
    height: 150px;
    width: 1000px;
    border: 1.5px solid aqua;
    margin-left: 180px;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.heading-unlist{
    font-size: 20px;
    font-weight: 700;
    padding-left: 20px;
    padding-top: 20px;
}
.li-itmem{
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    padding-left: 25px;
    padding-top: 10px;
    color: black;
}

/*--------------------------------fotter------------------------------------------------*/ 

.footer-main-div{
    margin-top: 20px;
    height: 100px;
    width: 100%;
    background-color: rgb(1, 19, 19);
    display: flex;
    color: white;justify-content: space-evenly;
}

.main-div-1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


.main-div-2{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.main-div2-local-2{
    display: flex;
    justify-content: space-evenly;
}
.main-div2-local-3{
    display: flex;
    justify-content: space-evenly;
}

.main-div-3{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.main-div3-local-2{
    display: flex;
    justify-content: space-evenly;
}

